
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective:1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.flipper.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* front pane, placed above back */
.front {
    z-index: 2;
}
/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);    
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.hidden_menu{display:none}
.header {width:auto; height: 50px; background-color:#5C94C8; padding-top:15px; padding-left:20px ;font-size: 2em; color: white; margin-bottom: 3px;}
.day-style a{font-size:2em;text-decoration:none; color:#29ACD4}
.day-style a,a:visited,a:hover,a:active{
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#29ACD4;
}
.day-style a:hover{
	color:#A61E20;
}
.mon-sun-style{list-style-type:none; margin: 4px 0; padding: 4px 6px; border: 2px solid;background-color:#E4E4E4; border-color:#D3D3D3; border-radius: 5px;
}
li {list-style-type:none; margin: 4px 0; padding: 4px 6px;}
.appointment-display {border-bottom: thin solid #D3D3D3;}
.footer { border-top: thin solid #5C94C8; margin-top: 15px;
	}
.hidden_menu{display:none}
.header {width:auto; height: 50px; background-color:#5C94C8; padding-top:15px; padding-left:20px ;font-size: 2em; color: white; margin-bottom: 3px;}
.day-style a{font-size:2em;text-decoration:none; color:#29ACD4; padding-left: 12px}
.day-style a,a:visited,a:hover,a:active{
	position:relative;
  transition:0.2s color ease;
	text-decoration:none;
	color:#29ACD4;
}
.day-style a:hover{
	color:#C84040;
}
#loginform { width:100%; margin-top: -65px}
		h2.login-header {color:#5C94C8; font-size:2em;}
		
		button {font-size:1.5em; color:#29ACD4; width: 100%; height: 50px;}
		
		table {padding-top: 15px;}
		
		td {font-size: 1.4em; color:#29ACD4}
		
		input {height: 25px;}
		
		.footer { border-top: thin solid #5C94C8; margin-top: 15px;}
		
		#loginMessage {margin-top: 15px; color:#A61E20; size: 1.3em}

